
  <div id="blog-list">
    {{#each blogs as |blogs|}}
    <div class="col-12">
      <div class="row" id="blogs" data-link="{{id}}">
        <div class="col-12" id="blog-title">
          <h3>{{title}}</h3>
        </div>
        <div class="col-12" id="blog-slug">
          <h4>{{slugline}}</h4>
        </div>
      </div>
      <div class="col-12 float-right" id="blog-info">
        <p class="float-right">Written by: <a href=/user/{{user.id}}><span>{{user.username}}</span></a> on <span>{{format_date date}}</span>. <span>{{comments.length}} comments</span></p>
      </div>
    </div>
    {{/each}}
  </div>
<script src="../blogs.js"></script>