<div>
  <div class="col-md-12 border-bottom border-dark">
    <!-- Call the helper function with triple brackets to render the span as HTML -->
    <h2>Latest Post</h2>
  </div>
  <div class="col-md-12 my-4">
    <div class="blog-container">
      <div id="post-title">
        <h3>{{title}}</h3>
      </div>
      <div id="post-slug">
        <h4>{{slugline}}</h4>
      </div>
      <div id="post-info">
        <p>Written by: <a href="/user/"{{id}}><span>{{user.username}}</span></a> on <span>{{format_date createdAt}}</span>.
      </div>
      <div id="post-body">
          <p>{{{breaklines body}}}</p>
      </div>
    </div>
    {{> comments}}
  </div>
</div>