<div class="row align-center mb-5">
  <div class="col-md-6">
    <!-- Call the helper function with triple brackets to render the span as HTML -->
    <h2>Latest Post</h2>
  </div>
  <div class="col-md-6">
    <div class="blog-container">
    <div class="blog-title">
      <h3>{{title}}</h3>
    </div>
    <div class="blog-details">
      <h4>{{slugline}}</h4>
      <p>Written by: <span>{{user.username}}</span> on <span>{{date}}</span>.
    </div>
    <div class="blog-body">{{body}}</div>
    </div>
    {{#each comments}}
    <div id="comment-details">
        <p><a href=/user/{{user.id}}>{{user.username}}</a> wrote...</p>
    </div>
    <div id="comment-body">
        <p>{{comment}}</p>
    </div>
    </div>
    {{/each}}
  </div>
</div>