{{if}}

<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{username}} - Author page</h2>
  </div>
  <div>
    {{first_name}} {{last_name}} {{#if author}} - Author Privileges{{/if}}
  </div>
  <div>
    {{email}}
  </div>
  <div>
    <h3>Blogs posted</h3>
  </div>
  {{#each blog}}
  <div>
    <div>
      {{blog.title}}
    </div>
    <div>
      {{blog.slugline}}
    </div>
  </div>
  {{/each}}
</div>